<div class="container">
    <div class="row">
        
      <div class="col">
          <h2>FORM DATA MAHASISWA</h2>
          <hr>
        <label for="nim">NIM :</label>
        <input type="text" name="nim" id="nim" class="form-control" [(ngModel)]="nim">
        <label for="nama"> Nama :</label>
        <input type="text" name="nama" id="nama" class="form-control" [(ngModel)]="nama">
        <label for="alamat">Kelas :</label>
        <input type="text" name="kelas" id="kelas" class="form-control" [(ngModel)]="kelas">
      <br/>
      <button type="button" class="btn btn-primary" (click)="tambahMhs()">Tambah Mahasiswa</button>
      </div>

      <div class="col">
          <h2>DATA MAHASISWA</h2>
      <div class="card"  *ngFor="let mhs of daftarMhs">
        <img class="card-img-top" src="" alt="">
        <div class="card-header">
            <h4 class="card-title">{{ mhs.nama }}</h4>
          </div>
        <div class="card-body">
         
          <p class="card-text"> {{ mhs.nim }} </p>
          <p class="card-text"> {{ mhs.kelas }} </p>
        </div>
      </div>
      </div>
     
    </div>
    
  </div>
  <br/>
  
